

.kinngyo img{
    margin-top: 200px;
    width: 100px;
    height: 100px;
    margin-left: 500px;
    
}
 
@-webkit-keyframes kinngyo{
     0%{
        -webkit-transform: scale(1.0);
     }
    50%{
        opacity: 0.6;
        -webkit-transform: translateX(-100px) ;
         transform: tanslateX(-100px) ;
    }
  
        
      
    100%{
        
                -webkit-transform: scale(1.0);
    }
}
    img:hover{
        -webkit-animation-name: kinngyo;
        -webkit-animation-duration: 20s;
    }
    
    
    
    
    